body {
 background-color: #fecc40;
 /*background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);*/
  transition: all .3s ease;
}

.mainsection {
 display: flex;
 flex-direction: column;
}

.stickers  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
  width: 880px;
}

.box {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  opacity: .95;
  box-shadow: 3px 4px 8px rgba(1,1,1,.2);
}

.box:hover {
  opacity: 1;
}

p {
  font-family: sans-serif;
  color: white;
  position: absolute;
  font-size: 15px;
  opacity: .7;
  padding: 23px;
  bottom: -1330px;
  right: 5px;
}

h1 {
  /*padding-left: 35vw;*/
  left: 37vw;
  right: auto;
  top: 7px;
  font-family: pacifico;
  font-size: 70px;
  position: absolute;
  color: white;
}

.box#s1 {
  background-image: url(../images/stick1.svg);
}

.box#s2 {
  background-image: url(../images/stick16.svg);
}

.box#s3 {
  background-image: url(../images/stick3.svg);
}

.box#s4 {
  background-image: url(../images/stick8.svg);
}

.box#s5 {
  background-image: url(../images/stick11.svg);
}

.box#s6 {
  background-image: url(../images/stick7.svg);
}

.box#s7 {
  background-image: url(../images/stick6.svg);
}

.box#s8 {
  background-image: url(../images/stick14.svg);
}

.box#s9 {
  background-image: url(../images/stick9.svg);
}

.box#s10 {
  background-image: url(../images/stick15.svg);
}

.box#s11 {
  background-image: url(../images/stick4.svg);
}

.box#s12 {
  background-image: url(../images/stick12.svg);
}

.box#s13 {
  background-image: url(../images/stick13.svg);
}

.box#s14 {
  background-image: url(../images/stick17.svg);
}

.box#s15 {
  background-image: url(../images/stick10.svg);
}

.box#s16 {
  background-image: url(../images/stick2.svg);
}

.box#s17 {
  background-image: url(../images/stick5.svg);
}

.box#s18 {
  background-image: url(../images/stick18.svg);
}

.cart-animation-helper {
	margin: 0 20%;
	width: 0;
	height: 0;
}

.cart-animation-helper:after{
  opacity: 0;
  border-radius: 0%;
  max-height: 250px;
  max-width: 250px;

  content: '';
  position: absolute;
  bottom: 30px;
  left: 10px;
  right: 0;
  margin: 0 auto;
  display: block;
  height: 250px;
  width: 250px;
  background-color: orange;

  transition:
    transform 0.8s ease-out,
    margin 0.8s ease-out,
    opacity 0.8s ease-out,
    border-radius 0.4s ease-out,
    max-height 0.5s ease-out,
    max-width 0.5s ease-out;
}

@media screen and (max-width: 1024px) {
  .box {
    width: 220px;
    height: 220px;
    margin: auto 36px;
  }

  h1 {
    margin-left: -70px;
  }
}

@media screen and (max-width: 840px) {
  .box {
   margin: auto 35px;
  }

  .stickers {
    margin: 30px -25px;
  }
}

@media screen and (max-width: 768px) {
  .stickers {
    flex-direction: column;
    margin: 30px 70px -30px -70px;
  }

  .box {
    margin: 10px auto;
    width: 400px;
    height: 400px;
  }

  h1 {
    margin-left: -76px;
  }

}

@media screen and (max-width: 441px) {
  h1 {
    margin-left: 50px;
  }
}
