body {
 background-color: #fecc40;
 /*background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);*/
}

.mainsection {
 display: flex;
 flex-direction: column;
}

.stickers  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
  width: 880px;
}

.box {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  opacity: .95;
  box-shadow: 3px 4px 8px rgba(1,1,1,.2);
}

.box:hover {
  opacity: 1;
  transform: scale(1.03);
}

p {
  font-family: sans-serif;
  color: white;
  position: absolute;
  font-size: 15px;
  opacity: .7;
  padding: 23px;
  bottom: -1330px;
  right: 5px;
}

h1 {
  /*left: -790px;
  top: 660px;
  font-family: pacifico;
  font-size: 430px;
  height: 100vh;
  position: absolute;
  transform: rotate(-90deg);
  color: white;*/
  padding-left: 22px;
  top: 7px;
  font-family: pacifico;
  font-size: 70px;
  position: absolute;
  color: white;
}

.box#s1 {
  background-image: url(../images/stick1.svg);
}

.box#s2 {
  background-image: url(../images/stick2.svg);
}

.box#s3 {
  background-image: url(../images/stick3.svg);
}

.box#s4 {
  background-image: url(../images/stick4.svg);
}

.box#s5 {
  background-image: url(../images/stick5.svg);
}

.box#s6 {
  background-image: url(../images/stick7.svg);
}

.box#s7 {
  background-image: url(../images/stick6.svg);
}

.box#s8 {
  background-image: url(../images/stick8.svg);
}

.box#s9 {
  background-image: url(../images/stick8.svg);
}

.box#s10 {
  background-image: url(../images/stick9.svg);
}

.box#s11 {
  background-image: url(../images/stick10.svg);
}

.box#s12 {
  background-image: url(../images/stick11.svg);
}

.box#s13 {
  background-image: url(../images/stick12.svg);
}

.box#s14 {
  background-image: url(../images/stick13.svg);
}

.box#s15 {
  background-image: url(../images/stick14.svg);
}

.box#s16 {
  background-image: url(../images/stick15.svg);
}

.box#s17 {
  background-image: url(../images/stick11.svg);
}

.box#s18 {
  background-image: url(../images/stick1.svg);
}

.box#s19 {
  background-image: url(../images/stick1.svg);
}

.box#s20 {
  background-image: url(../images/stick1.svg);
}

.box#s21 {
  background-image: url(../images/stick1.svg);
}

.box#s22 {
  background-image: url(../images/stick1.svg);
}

.box#s23 {
  background-image: url(../images/stick1.svg);
}
