.menubar {
  width: 100%;
}

.menubar div {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.logo {
  display: block;
  width: 180px;
  height: 16px;
  background-color: red;
}

.sticklist {
  font-size: 14px;
  line-height: 50px;
  color: rgba(0,0,0,.2);
  transition: all .1s ease;
  background-color: white;
}

.sticklist:hover {
  color: rgba(0,0,0,.4);
}
