.list {
  background-color: white;
  width: 797px;
  height: 507px;
  position: absolute;
  margin: 37px 35% 0 6%;
  box-shadow: 3px 3px 7px rgba(1,1,1,.2);
  display: flex;
  flex-direction: column;
}

.cart img {
  width: 60px;
  height: 60px;
  margin-top: -59px;
  left: 25px;
  position: fixed;
}

.cart img:hover {
  cursor: pointer;
}

.buttonsave {
  position: absolute;
  display: block;
  width: 175px;
  height: 51px;
  background-color: #ff7400;
  text-decoration: none;
  top: 568px;
  right: 12vw;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(1,1,1,.2);
}

.save {
  position: relative;
  text-decoration: none;
  color: white;
  top: -6px;
  left: 17px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.buttonsave:active {
  background-color: red;
}

.sticker  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px auto;
  width: 587px;
  /*height: 787px;*/
}

.stick {
  width: 156px;
  height: 150px;
  margin: -28px -108px;
  background-repeat: no-repeat;
}

.stick#s1 {
  background-image: url(../images/stick18.svg);
}

.stick#s2 {
  background-image: url(../images/stick16.svg);
}

.stick#s3 {
  background-image: url(../images/stick14.svg);
}

.stick#s4 {
  background-image: url(../images/stick8.svg);
}

.stick#s5 {
  background-image: url(../images/stick15.svg);
}

.stick#s6 {
  background-image: url(../images/stick17.svg);
}
