.button {
  background-color: rgba(129, 136, 124, 0.59);
  height: 27px;
  width: 27px;
  position: relative;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(1,1,1,.3);
  top: 12px;
  right: -208px;
  text-decoration: none;
}

.button:active {
  background-color: #f6903b;
}

.button .plus .horizontal {
  position: relative;
  background-color: white;
  width: 17px;
  height: 5px;
  top: 11px;
  left: 5px;
  border-radius: 3px;
}

.button .plus .vertical {
  position: relative;
  background-color: white;
  width: 5px;
  height: 17px;
  top: 0;
  left: 11px;
  border-radius: 3px;
}

@media screen and (max-width: 1024px) {

  .stickers {
    width: 876px;
  }
  .button {
    right: -179px;
  }
}

@media screen and (max-width: 768px) {

  .button {
    right: -251px;
    width: 35px;
    height: 35px;
  }

  .button .plus .horizontal {
    width: 25px;
    height: 7px;
    top: 14px;
  }

  .button .plus .vertical {
    width: 7px;
    height: 25px;
    top: -2px;
    left: 13.5px;
  }
}
